In [79]:
# Titanic dataset, using Logistic Regression

import pandas as pd

In [80]:
titanic = pd.read_csv('E:/Pythoncode/Titanic_Kaggle/Data_Set/train.csv')
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [81]:
# For Logistic Regression we will be considering the following parameter: Pclass, Sex, Age, SibSp, Parch To estimate Survived
# only 714 Age data is available, so we will fill remaining age with mean age
titanic['Age'].fillna(titanic.Age.mean(), inplace = True)
titanic.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [82]:
Y_train = titanic[['Survived']]
Y_train[0:5]

   Survived
0         0
1         1
2         1
3         1
4         0

In [83]:

X_train = titanic[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
X_train[0:5]

   Pclass  Sex   Age  SibSp  Parch
0       3    1  22.0      1      0
1       1    0  38.0      1      0
2       3    0  26.0      0      0
3       1    0  35.0      1      0
4       3    1  35.0      0      0

In [84]:
# Normalization of training DataSet because Age will dominate
from sklearn import preprocessing
X_train = preprocessing.StandardScaler().fit(X_train).transform(X_train)
X_train[0:5]

array([[ 0.82737724,  0.73769513, -0.5924806 ,  0.43279337, -0.47367361],
       [-1.56610693, -1.35557354,  0.63878901,  0.43279337, -0.47367361],
       [ 0.82737724, -1.35557354, -0.2846632 , -0.4745452 , -0.47367361],
       [-1.56610693, -1.35557354,  0.40792596,  0.43279337, -0.47367361],
       [ 0.82737724,  0.73769513,  0.40792596, -0.4745452 , -0.47367361]])

In [85]:
# Test Dataset 
test_dataframe = pd.read_csv('E:/Pythoncode/Titanic_Kaggle/Data_Set/test.csv')
test_dataframe.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [86]:
# only 332 Age data is available, so we will fill remaining age with mean age
test_dataframe['Age'].fillna(test_dataframe.Age.mean(), inplace = True)
test_dataframe.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            418
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [87]:
# Test Dataset into Array

X_test = test_dataframe[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
X_test[0:5]

   Pclass  Sex   Age  SibSp  Parch
0       3    1  34.5      0      0
1       3    0  47.0      1      0
2       2    1  62.0      0      0
3       3    1  27.0      0      0
4       3    0  22.0      1      1

In [88]:
# Normalization of DataSet, Because Age will dominate if not normalized

X_test = preprocessing.StandardScaler().fit(X_test).transform(X_test)
X_test[0:5]

array([[ 0.87348191,  0.75592895,  0.3349926 , -0.49947002, -0.4002477 ],
       [ 0.87348191, -1.32287566,  1.32553003,  0.61699237, -0.4002477 ],
       [-0.31581919,  0.75592895,  2.51417495, -0.49947002, -0.4002477 ],
       [ 0.87348191,  0.75592895, -0.25932986, -0.49947002, -0.4002477 ],
       [ 0.87348191, -1.32287566, -0.65554483,  0.61699237,  0.61989583]])

In [89]:
# Doing Logistic Regression

from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,Y_train.values.ravel())
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [90]:
# Predicting the output of Test data
Y_hat = LR.predict(X_test)
Y_hat

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [91]:
submission = pd.DataFrame({

    "PassengerId": test_dataframe["PassengerId"],
    "Survived": Y_hat
    })
submission.to_csv("E:/Pythoncode/Titanic_Kaggle/Data_Set/submissionLR.csv", index = False)